.input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
}

.input-label {
    color: black;
    font-weight: bold;
    float: left;
    margin-right: 8px;
    text-decoration: underline;
    width: 45%;
}
